<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About Me</title>
</head>
<body>
<!-- Navbar -->
<nav class="bg-gray-800 text-white px-5 py-3 flex justify-between items-center">
    <a href="/" class="text-lg font-bold">Lego Collection</a>
    <div>
        <a href="/" class="px-3 py-2 hover:bg-gray-700">Home</a>
        <a href="/about" class="px-3 py-2 hover:bg-gray-700 bg-gray-900">About</a> <!-- Active State -->
    </div>
</nav>

<div class="hero bg-blue-300 p-10 text-center">
    <h1 class="text-4xl font-bold">About Me</h1>
</div>

<!-- Content Section -->
<div class="container mx-auto p-5 grid grid-cols-2 gap-4">
    <!-- Image Column -->
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkiENcfzewm0pudNUc6Dza8a2sXr3YXzrAMQ&s" alt="Personal Image" class="w-full">
    </div>

    <!-- Text Column -->
    <div class="space-y-4">
        <h2 class="text-xl font-bold">Hi, I'm Alec Josef Serrano!</h2>
        <p>I'm an Electrical Engineer back in the Philippines and now pursuing Computer Programming at Seneca Polytechnic.</p>
        <p>I enjoy building projects like this one that combine my hobbies and my education and this benefits me to explore more things in computer world.</p>
    </div>
</div>

</body>
</html>
